<style>
    #div1
    {
      border: 1px solid gray;
      width: 250px;
      height: 250px;
      margin: 10px;
      border-radius: 5px;
      text-align: center;
      color :  blue;
      box-shadow: 5px 5px 5px gray;
    }
  </style>
<div id="div1">
    <img src="assets/Mobile.jpeg" height="200px", width="200px" />
    <br/>
    Mobile 1
</div>

<div id="div1">
    <img src="assets/Mobile2.jfif" height="200px", width="200px"  />
    <br/>
    Mobile 2
</div>

<div id="div1">
    <img src="assets/Mobile3.jpeg" height="200px", width="200px"  />
    <br/>
    Mobile 3
</div>

<div id="div1">
    <img src="assets/Mobile4.jfif" height="200px", width="200px"  />
    <br/>
    Mobile 4
</div>

