<style>
    #div1
    {
      border: 1px solid gray;
      width: 250px;
      height: 250px;
      margin: 10px;
      border-radius: 5px;
      text-align: center;
      color :  blue;
      box-shadow: 5px 5px 5px gray;
    }
  </style>

<div id="div1">
    <img src="assets/TV.png" height="200px", width="200px" />
    <br/>
    TV 1
</div>

<div id="div1">
    <img src="assets/TV2.png" height="200px", width="200px" />
    <br/>
    TV 2
</div>

<div id="div1">
    <img src="assets/TV3.jfif" height="200px", width="200px" />
    <br/>
    TV 3
</div>

<div id="div1">
    <img src="assets/TV4.jpg" height="200px", width="200px" />
    <br/>
    TV 4
</div>
